/* overall style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    position:relative;
    margin-right: 0px;
}
.menu {
    list-style-type: none;
    width: 100%
}
.logo {
    width: 15%;
    height: 15%;
    padding: 10px;
}
body {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}
nav {
    background: rgb(192, 173, 196);
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
}
.name {
    background: rgb(255, 255, 255);
    width: 100%;
    color: rgb(109, 70, 117);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 3px;
}

.item {
    padding: 10px
}

.icon {
    z-index: 1;
}

li:hover {
    background: rgb(231, 208, 235);
    width: 100%;
    text-align: center;
}
a:hover {
    color: rgb(85, 84, 84);
}
.name:hover{
    background: rgb(255, 255, 255);

}


/* mobile styling */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    border-style: black;
}

img {
    max-width: 90%;
  }

#face{
    padding: 25px;
}
.profile-pic {
    text-align: center;
}


/* web styling */