body, html {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    background-color: rgb(121, 103, 121);
    padding: 0;
    margin: 0;
}

.nav-bar {
    z-index: 100;
    position: fixed;
    left: 0;
    background-color: white;
    width: 100%;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.8);
}

.nav-ele {
    display: inline-block;
    margin: 20px;
}

.nav-ele a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.nav-ele a:hover {
    color: rgb(121, 103, 121);
}

.icon {
    position: relative;
    top: 7px;
    display: inline-block;
}

.icon:hover {
    cursor: pointer;
}

.gicon {
    position: relative;
    top: 7px;
    display: inline-block;
    z-index: 1;
}

.arrow {
    display: inline-block;
    transform: translateY(-50%);
    font-size: 125%;
    border: none;
}

.arrow:hover {
    color: gray;
    cursor: pointer;
}

.left {
    position: absolute;
    top: 50%;
    left: -5%;
}

.right {
    position: absolute;
    top: 50%;
    right: -5%;
}

.project-image-container {
    text-align: center;
    width: 100%;
    position: relative;
    margin: auto;
}
.projectImage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    display: inline-block;
}

#picture {
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-pictures {
    text-align: center;
}


.about, .contact, .projects {
    background-color: white;
    text-align: left;
    padding: 30px;
    /* width: 70%; */
    padding-left: 15%;
    padding-right: 15%;
}

#face {
    text-align: center;
    margin-top: 150px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project {
    margin: 20px;
}

.timeline ul {
    list-style: none;
}

.timeline li {
    list-style: none;
    padding: 10px;
}

#about {
    margin-left: 20%;
    margin-right: 20%;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(121, 103, 121);
}

#resume {
    padding: 20px;
}


  @media all and (max-width: 500px) {
    body {
        font-size: 80%;
    }

    .about, .contact, .projects {
        background-color: white;
        text-align: left;
        padding: 15px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    h3 {
        font-size: 80%;
        margin: 5px 0px 5px 0px;
    }
} 